.display-temperature {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

.cold {
  background-color: #00b4d8;
}

.hot {
  background-color: #ff0004;
}
